*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color:  #232323;
}

.header{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    padding: 10px;
    font-family: poppins, sans;
    background-color: #000000;
}
.header > :hover{
    font-size: 19px;
    text-shadow: 0 0 5px #E6E6E6;
    cursor: pointer;
}

.header a{
    text-decoration: none;
    color: #E6E6E6;
}

.Info img{
    height: 300px;
    width: 300px;
    margin-left: 50px;
    box-shadow: 0 0 15px #E6E6E6;
}

.Info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    color: #E6E6E6;
    font-family: poppins, sans;
    height: 70vh;
    font-size: 20px;
    margin: auto;
    padding: 40px;
}

span{
    font-weight: bold;
}

.skills{
    margin-top: 100px;
    color: #E6E6E6;
    font-family: poppins, sans;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    align-items: center;
    gap: 100px;
}

.skills h3{
    text-decoration: underline;
}



.sub-skills{
    display: flex;
    justify-content: center;
    gap: 200px;
}

.sub-skills img{
    height: 100px;
    width: 100px;
}
